div {
    width: 640px;
    margin: auto;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

li {
    font-size: 20px;
}

.wrapper {
    text-align: center;
    display: inline-block;
}

.crentreButtons {
    text-align: justify;
    display:inline-block;
    position: absolute;
    top: 75%;
    left: 50%;
}
