div {
    width: 640px;
    margin: auto;
}

p {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 60;
}

p {
    font-size: 25;
}

p {
    font-family: "Times New Roman", Times, serif;
}