div {
    width: 640px;
    margin: auto;
}

p {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 17px;
}

h3 {
    font-size: 25px;
}

li {
    font-size: 20px;
}

.indhold-id {
    position: relative;
    left: 200px;
    top: 7px;
}

.næste-id {
    position: relative;
    left: 500px;
    top: -46px;
}

.forrige-id {
    position: relative;
    left: 0px;
    top: -100px;
}